<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.ConnString" connectionString="Data Source=ISAC-NOTEBOOK;Initial Catalog=Romannel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>